* {
    box-sizing:  border-box;
    font-family: 'Courier New', serif;
    font-weight: bold;
}

* + * {
    margin:  5px;
}

.sheet-wrapper {
    background: rgba(200,200,200,.5);
    display: flex;
    flex-direction: column;
}

.charsheet input {
    font-family: 'Courier New', serif;
    font-weight: lighter;
    width: 50px;
    border-radius: 0;
    box-shadow: none;
    margin: 0 5px;
    border: 1px solid transparent;
    border-bottom: 1px solid;
    background:  transparent;
}

.charsheet input:focus {
    background: rgba(255,255,255,.5);
    border: 1px solid;
}

.sheet-character-name input {
    width: 100px;
}

.sheet-player-name input {
    width: 100px;
}

.sheet-wrapper {
    border: 1px solid;
}

.sheet-header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid;
}

.sheet-details {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.sheet-header-field {
    margin: 5px;
}

.sheet-game-icon {
    flex: .5;
    display: flex;
    align-items: center;
}

.sheet-abilities {
    flex: 1;
}

.sheet-encumbrance-line {
    margin: 5px;
}

.sheet-horizontal-set {
    margin: 0;
    display:  flex;
}

.sheet-vertical-set {
    margin: 0;
    display:  flex;
    flex-direction:  column;
}

.sheet-vertical-set div,
.sheet-horizontal-set div {
    flex: 1;
}

.sheet-skills .repcontainer {
    display: flex;
    flex-flow: row wrap;
}

.sheet-fill-height {
    height:  100%;
}

.sheet-skills .repitem {
    flex: 1;
}

input[name="attr_skillname"] {
    width: 100px;
}

input[name="attr_tallies"] {
    width: 80px;
}

input[name="attr_mastery"] {
    width: 80px;
}

input[name="attr_talent"] {
    width: 200px;
}

input[name="attr_quirks-flaws"] {
    width: 200px;
}

div.sheet-flex-initial {
    flex:  initial;
}

h3 {
  text-align:  center;
}

.sheet-header,
.sheet-abilities,
.sheet-encumbrance,
.sheet-health,
.sheet-speed,
.sheet-accuracy,
.sheet-wounds,
.sheet-weapons,
.sheet-skills,
.sheet-talents,
.sheet-quirks-flaws,
.sheet-horse,
.sheet-professions,
.sheet-equipment,
.sheet-personal-goals,
.sheet-family-history,
.sheet-allies-enemies,
.sheet-notes {
  margin: 0;
  border: 1px solid;
}