* {
    box-sizing:  border-box;
}

.charsheet input {
    width: 50px;
    border-radius: 0;
    box-shadow: none;
    margin: 0 5px;
    border: 1px solid transparent;
    border-bottom: 1px solid;
    background:  transparent;
}

.charsheet input:focus {
    background: rgba(255,255,255,.5);
    border: 1px solid;
}

.sheet-character-name input {
    width: 100px;
}

.sheet-player-name input {
    width: 100px;
}

.sheet-wrapper {
    border: 1px solid;
}

.sheet-header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid;
}

.sheet-details {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.sheet-header-field {
    line-height: 0;
    margin: 5px;
}

.sheet-game-icon {
    flex: .5;
    display: flex;
    align-items: center;
}
