* {
    box-sizing:  border-box;
}

input {
    width: 75px;
    border-radius: none;
    appearance: none;
    box-shadow: none;
    margin: 0 5px;
    border: none;
    border-bottom: 1px solid;
    background:  transparent;
}

.sheet-header {
    width: 100%;
    display: flex;
}

.sheet-details {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.sheet-header-field {
    flex: 1;
}

.sheet-game-icon: {
    flex: 1;
}
